@import './variables';

body {
  font-family: $font;
  color: $dark;
}

a {
  color: $secondary;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre, blockquote, code {
  white-space: pre-wrap;
  word-wrap: break-word;
}