@import './variables';
@import './mixins';

body {
  font-family: $font;
  color: $dark;
}

a {
  color: $secondary;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre, blockquote, code, h3, td {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container {
  @include for-phone-only {
    display: flex;
    flex-direction: column;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
  }
}

.innerRow {
  @include for-tablet-landscape-up {
    grid-column-start: 2;
  }
}
