@import '../../utils/styles/mixins';
@import '../../utils/styles/variables';

.container {
  @include center-column-container(100%);
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  background-color: $secondary;
  color: $light;
}

.status {
  margin-top: 0;
}

.text {
  margin: 0;
  text-align: center;
}

.counter {
  margin-top: 10px;
}
