@import '../../../utils/styles/mixins';

.centerContainer, .errorContainer {
  @include center-column-container(100%);
}

.errorContainer {
  @include for-phone-only {
    flex-direction: row;
    justify-content: center;
  }
}

.container {
  width: 100%;
}

.linearLoader {
  opacity: 0;
  transition: all 0.3s;
}

.visible {
  opacity: 1;
}
